<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>搜狗搜索大数据分析</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="logo">
                <span>第</span>
                <span>3</span>
                <span>1</span>
                <span>小</span>
                <span>组</span>
            </div>
            <div class="btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </header>
        <div class="left-menu">
            <div class="list">
                <h5 class="title">搜狗搜索日志分析</h5>
                <ul class="list-group">
                    <li class="list-item student-list active" data-id="student-list">各种查询汇总</li>
                    <li class="list-item student-add" data-id="student-add">排名前50的关键字</li>
                    <li class="list-item student-echarts" data-id="student-echarts">UID分析</li>
                    <li class="list-item student-echartsA" data-id="student-echartsA">独立同户行为分析</li>
                    <li class="list-item student-echartsB" data-id="student-echartsB">排名1-10对应的点击量</li>
                    <li class="list-item student-echartsC" data-id="student-echartsC">12.30日每小时对应的点击数</li>

                </ul>
            </div>
        </div>
        <div class="right-content">
            <div class="tab-content-item s-list show-list" id="student-list">
                <div class="echarts0"></div>
            </div>
            <div class="tab-content-item s-add" id="student-add">
                <div class="echarts1"></div>
            </div>

            <div class="tab-content-item echarts" id="student-echarts">
                <div class="flex-container">
                    <div class="echarts2 item"></div>
                    <div class="echarts3 item"></div>
                </div>
                <div class="flex-container">
                    <div class="echarts4 item"></div>
                    <div class="echarts5 item"></div>
                </div>
            </div>
            <div class="tab-content-item echartsA" id="student-echartsA">
                <div class="echarts6"></div>
            </div>
            <div class="tab-content-item echartsB" id="student-echartsB">
                <div class="echarts7"></div>
            </div>
            <div class="tab-content-item echartsC" id="student-echartsC">
                <div class="echarts8"></div>
            </div>
        </div>
       

    </div>
    </div>

    <script src="../static/js/jquery-3.3.1.js"></script>
    <script src="../static/js/echarts.js"></script>
    <script src="../static/js/index.js"></script>
    <script src="../static/js/project.js"></script>
</body>

</html>